*.pdf
.DS_Store
.gitignore
LICENSE
blood/.DS_Store
blood/dahlin18/.DS_Store
blood/dahlin18/.ipynb_checkpoints/
blood/dahlin18/backup/
blood/dahlin18/data/
blood/dahlin18/figures/
blood/dahlin18/write/
blood/nestorowa16/.DS_Store
blood/nestorowa16/.ipynb_checkpoints/
blood/nestorowa16/cache/
blood/nestorowa16/data/
blood/nestorowa16/figures/
blood/nestorowa16/gephi_coords_paga.gdf
blood/nestorowa16/write/
blood/paul15/.DS_Store
blood/paul15/.ipynb_checkpoints/
blood/paul15/data/
blood/paul15/figures/
blood/paul15/write/
blood/simulated/.DS_Store
blood/simulated/.RData
blood/simulated/.Rhistory
blood/simulated/.ipynb_checkpoints/
blood/simulated/.scanpy/
blood/simulated/README.md
blood/simulated/comparisons/
blood/simulated/comparisons_exports.ipynb
blood/simulated/figures/
blood/simulated/simulated_robustness.ipynb
blood/simulated/write/
connectivity_measure/.DS_Store
connectivity_measure/.ipynb_checkpoints/
connectivity_measure/figures/
embedding_quality/.DS_Store
embedding_quality/.ipynb_checkpoints/
embedding_quality/figures/
embedding_quality/write/
planaria/.DS_Store
planaria/.ipynb_checkpoints/
planaria/data/
planaria/figures/
planaria/velocyto_analysis/
planaria/write/
zebrafish/.DS_Store
zebrafish/.ipynb_checkpoints/
zebrafish/cache/
zebrafish/data/
zebrafish/figures/
zebrafish/write/
comparisons/paul15_monocle2/data/
comparisons/paul15_monocle2/figures/
comparisons/simulated_data/README.md
comparisons/simulated_data/data/
comparisons/simulated_data/eclair/ECLAIR_instance/
comparisons/simulated_data/eclair/X_krumsiek11.txt
comparisons/simulated_data/eclair/X_krumsiek11_blobs.txt
comparisons/simulated_data/eclair/X_krumsiek11_scaled.txt
comparisons/simulated_data/eclair/eclair_plots.ipynb
comparisons/simulated_data/eclair/figures/
comparisons/simulated_data/figures/
comparisons/simulated_data/stemID/RaceID3_StemID2_class.R
comparisons/simulated_data/stemID/RaceID3_StemID2_sample.R
comparisons/simulated_data/stemID/Rplots_X_krumsiek11_blobs_shifted_1.png
comparisons/simulated_data/stemID/Rplots_X_krumsiek11_blobs_shifted_2.png
comparisons/simulated_data/stemID/X_krumsiek11_blobs_shifted.csv
comparisons/simulated_data/stemID/X_krumsiek11_shifted.csv
comparisons/simulated_data/write/
deep_learning/data/
deep_learning/figures/
deep_learning/write/